In [1]:
# Linear model
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Load Given Dataset
data=pd.read_csv('data.csv')

In [4]:
del data['Date']

In [5]:
data.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'company'], dtype='object')

In [6]:
df=data.dropna()

In [7]:
df.head()

       Open      High       Low     Close    Volume company
0  2.437500  2.500000  1.927083  1.958333  72156000  Amazon
1  1.968750  1.979167  1.708333  1.729167  14700000  Amazon
2  1.760417  1.770833  1.625000  1.708333   6106800  Amazon
3  1.729167  1.750000  1.635417  1.635417   5467200  Amazon
4  1.635417  1.645833  1.375000  1.427083  18853200  Amazon

In [8]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

df['company'] = le.fit_transform(df['company']).astype(int)

In [9]:
df.head()

       Open      High       Low     Close    Volume  company
0  2.437500  2.500000  1.927083  1.958333  72156000        0
1  1.968750  1.979167  1.708333  1.729167  14700000        0
2  1.760417  1.770833  1.625000  1.708333   6106800        0
3  1.729167  1.750000  1.635417  1.635417   5467200        0
4  1.635417  1.645833  1.375000  1.427083  18853200        0

In [10]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score,explained_variance_score,median_absolute_error

In [11]:
X=df.drop(labels='Close',axis=1)
# Response Variable
y=df.loc[:,'Close']

In [12]:
# we'll use a test size of 30%.we also stratify the split on the response variable,which is very important to do because there are so few fraudulent transactions
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30, shuffle=False)

In [13]:
# Implementing Linear model
from sklearn.linear_model import Lasso
Las=Lasso()
Las.fit(X_train,y_train)

predicts=Las.predict(X_test)

mae=(mean_absolute_error(y_test,predicts))
print('MEAN ABSOLUTE ERROR VALUE IS:',mae)
print('')

mse=(mean_squared_error(y_test,predicts))
print('MEAN SQUARED ERROR VALUE IS:',mse)
print('')

medianAE=(median_absolute_error(y_test,predicts))
print('MEDIAN_ABSOLUTE_ERROR VALUE IS:',medianAE)
print('')

r2=(r2_score(y_test,predicts))
print('ACCURACY OF LASSO REGRESSION IS:',r2*100)
print('')

MEAN ABSOLUTE ERROR VALUE IS: 1.6245959438403685

MEAN SQUARED ERROR VALUE IS: 11.167049751750287

MEDIAN_ABSOLUTE_ERROR VALUE IS: 0.5987231211376587

ACCURACY OF LASSO REGRESSION IS: 99.96877953854954